<h2><%= @event.name %> </h2>
<p> Creator of the event : <%= @event.creator.name %>  </p> <br />
<p> Date of the event : <%= @event.date %> </p> <br />
<p> Location of the event : <%= @event.location %> </p>
